<div class="row">

  <%= render 'layouts/adminsidebar' %>
  <div class= "col-md-10"> 
    <h2> Product Catalog Listing </h2>

     <table class="table table-striped">
    <thead>
      <tr>
        <th>Title</th>
        <th>Description</th>
        <th>Action</th>
      </tr>
    </thead>
    <tbody>
    <% if @catalogs.any? %>
     <% @catalogs.each do |catalog| %>
      <tr>
        <td><%= catalog.title %></td>
        <td><%= catalog.file_url %></td>
        <td><td><%= link_to 'Show', catalog %></td>
        <td><%= link_to 'Edit', '#' %></td>
        <td><%= link_to 'Destroy', catalog, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
     <% end %>
     <% end %>
    </tbody>
  </table>


  </div>
  <div class="col-md-4">
   <%= form_for @catalog, :html => {:multipart => true} do |f| %>
      <%= f.label :title, "File Name to display: " %>
      <%= f.text_field :title , class: 'form-control'%>

      <%= f.label :file_url, "Upload File" %>
      <%= f.file_field :file_url %> 

      <%= f.submit "Add File", class: "btn btn-primary" %>


      <% end %>
    </div>

</div>
