<h1><%= @category.title %></h1>

<div class="row">
<% if @category_sub_category.count == 0%>

<% @products.each do |product| %>

		<div class= "col-md-3 pro-img-holder"> 

		 <div class="pro-img"><%= link_to image_tag(product.file, size:"230x300", alt: "L&N Office System"), '#' %> </div> </br>
		 <div class="pro-desc">
		 <strong> <%= product.sku %> </strong> </br>
	 	 <% if product.name %> 
	 	 <strong><%= product.name%> </strong> </br>
	 	 <% end %>
		<%= product.height%> </br>
		<%= product.width%></br>
		<%= product.depth%> 
	</div>
	</div>
	<% end %>
<% else %>
	<% @category_sub_category.each do |sub| %>
		<% sub_products = Product.where(sub_category_id: sub.sub_category_id).order("sku ASC") %>
			<% sub_category = SubCategory.find(sub.sub_category_id) %>
			<h3> <%= sub_category.title %> </h3>
			<hr/>
		
			<% sub_products.each do |product| %> 

				<div class="col-md-3 pro-img-holder">
				
				<div class="pro-img"><%= link_to image_tag(product.file, size:"230x300", alt: "L&N Office System"), '#' %>	</div></br>
					<div class="pro-desc">
						 <% if product.name %> 
	 	 					<strong><%= product.name%> </strong> </br>
	 					 <% end %>
					<%= product.height%> </br>
					<%= product.width%></br>
					<%= product.depth%> 		
 					</div>
		
				</div>
			
			<% end %>
			</br></br></br>
	<% end %>

<% end %>
</div>