<h1><%= @category.title %></h1>

<div class="row">
<% if @category_sub_category.count == 0%>

<% @products.each do |product| %>
	<div class= "col-md-3 "> 
		 <%= link_to image_tag(product.file, size:"200x200", alt: "Rails logo"), '#' %> </br>
		 <strong> <%= product.sku %> </strong> </br>
	 	 <strong><%= product.name%> </strong> </br>
		Height:<%= product.height%> </br>
		Width:<%= product.width%></br>
		Depth:<%= product.depth%> 

	</div>
	<% end %> 

<% else %>
	<% @category_sub_category.each do |sub| %>
		<% sub_products = Product.where(sub_category_id: sub.sub_category_id) %>
			<% sub_category = SubCategory.find(sub.sub_category_id) %>
			<h3> <%= sub_category.title %> </h3>
			<hr/>
			<% sub_products.each do |product| %> 
				<div class="col-md-4">
				
				<%= link_to image_tag(product.file, size:"200x200", alt: "L&N Office System"), '#' %>	</br>
					<strong><%= product.sku %> </strong></br>
					<strong><%= product.name%> </strong> </br>
					Height:<%= product.height%> </br>
					Width:<%= product.width%></br>
					Depth:<%= product.depth%> 		
 		
		
				</div>
			<% end %>
			<br/></br></br>
	<% end %>

<% end %>
</div>