<h1><%= @category.title %></h1>

<div class="row">
<% if @category_sub_category.count == 0%>

<% @products.each do |product| %>

		<div class= "col-md-3 pro-img-holder"> 

			 <div class="pro-img"><%= link_to image_tag(product.file, size:"230x300", alt: "L&N Office System"), '#' %> </div>
			 <div class="pro-desc">
			 <p><strong> <%= product.sku %> </strong><p>
		 	 <% if product.name %> 
		 	 <p><strong><%= product.name%> </strong><p>
		 	 <% end %>
			<p><%= product.height%></p>
			<p><%= product.width%></p>
			<p><%= product.depth%></p> 
		</div>
		</div>
	<% end %>
<% else %>
	<% @category_sub_category.each do |sub| %>
		<% sub_products = Product.where(sub_category_id: sub.sub_category_id).order("sku ASC") %>
			<% sub_category = SubCategory.find(sub.sub_category_id) %>
			<h3> <%= sub_category.title %> </h3>
			<hr/>
		
			<% sub_products.each do |product| %> 

				<div class="col-md-3 pro-img-holder">
				
				<div class="pro-img"><%= link_to image_tag(product.file, size:"230x300", alt: "L&N Office System"), '#' %>	</div>
					<div class="pro-desc">
						<p><strong> <%= product.sku %> </strong><p>
						 <% if product.name %> 
	 	 					<p><strong><%= product.name%> </strong></p>
	 					 <% end %>
					<p><%= product.height%></p>
					<p><%= product.width%></p>
					<p><%= product.depth%> 	</p>	
 					</div>
		
				</div>
			
			<% end %>
			</br></br></br>
	<% end %>

<% end %>
</div>