<header class="navbar navbar-fixed-top navbar-inverse"> 
	<div class="container"> 
		<%= link_to "sample app", root_path, id: "logo" %>
		<nav> 
			<ul class="nav navbar-nav navbar-left"> 
				<li><%= link_to "Home", root_path %></li>
				<li><%= link_to "About", about_path %></li>
<!-- 				<li><%= link_to "Product", product_path %></li>
 -->				
				<li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Products
          <span class="caret"></span></a>
          <ul class="dropdown-menu">
          	<% Category.order('title ASC').each do|category| %>
            <li><%= link_to category.title, category %></li>
           <% end %>
          
          </ul>
        </li>
        <li><%= link_to "Contact", contact_path %></li>
			</ul> 
			<ul class="nav navbar-nav navbar-right">
				<%if logged_in? %>
				<li><%= link_to "Logout", logout_path, method:"delete" %></li>
				<% else %> 
				<li><%= link_to "Admin Login", login_path %></li>
				<%end %>
			</ul> 
		</nav>
	</div>
</header>